# Project-specific exclusions.
/debug.js

# Instance data.
/data/cache/*
!/data/cache/README.md
/data/logs
!/data/logs/README.md
/data/output/*
!/data/output/README.md
/data/sessions/*
!/data/sessions/README.md
/data/tmp/*
!/data/tmp/README.md

# Code coverage tool (nyc).
.nyc_output
coverage

# General exclusions.
node_modules
docker-runtime
.idea
*.sql
.DS_Store
._*
